{% extends 'baseform.html' %}
{% block content %}


<!-- page content -->


<div class="page-title">
    <div class="title_left">
        <h3>CEM Form </h3>
    </div>

    <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>CEM Form Details
                    <small>Input CEM Info</small>
                </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Settings 1</a>
                            </li>
                            <li><a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br/>


                <div align="center">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Area
                                <small>Add Area</small>
                            </h2>
                            <div class="container">
                                <ul class="nav navbar-right panel_toolbox">
                                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Settings 1</a>
                                            </li>
                                            <li><a href="#">Settings 2</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                                    </li>
                                </ul>
                                <div class="row clearfix">
                                    <div class="col-md-12 column">
                                        <table class="table table-bordered table-hover" id="tab_logic">
                                            <thead>
                                            <tr>
                                                <th class="text-center">
                                                    #
                                                </th>
                                                <th class="text-center">
                                                    Point
                                                </th>
                                                <th class="text-center">
                                                    Work Unit
                                                </th>
                                                <th class="text-center">
                                                    Method
                                                </th>
                                                <th class="text-center">
                                                    Flow rate
                                                </th>
                                                <th class="text-center">
                                                    Media
                                                </th>
                                                <th class="text-center">
                                                    Technique
                                                </th>
                                                <th class="text-center">
                                                    Parameter
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr id='addr0'>
                                                <td>
                                                    1
                                                </td>
                                                <td>
                                                    <input type="text" name='Point' placeholder='Point' class="form-control"/>
                                                </td>
                                                <td>
                                                    <input type="text" name='Work Unit' placeholder='Work Unit' class="form-control"/>
                                                </td>
                                                <td>
                                                    <input type="text" name='Method' placeholder='Method' class="form-control"/>
                                                </td>
                                                <td>
                                                    <input type="text" name='Flow rate' placeholder='Flow rate' class="form-control"/>
                                                </td>
                                                <td>
                                                    <input type="text" name='Media' placeholder='Media' class="form-control"/>
                                                </td>
                                                <td>
                                                    <input type="text" name='Technique' placeholder='Technique' class="form-control"/>
                                                </td>
                                                <td>
                                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                                        <input id="tags_1" type="text" name='Parameter' placeholder='Parameter' class="tags form-control" value="test , test2"/></div>
                                                    <div id="suggestions-container" style="position: relative; float: left; width: 250px; margin: 10px;"></div>
                                                </td>
                                            </tr>
                                            <tr id='addr1'></tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <a id="add_row" class="btn btn-primary pull-left ">Add Row</a><a id='delete_row' class="pull-right btn btn-danger" >Delete Row</a>
                            </div>
                            <div class="row"></div>
                            <div class="row"></div>
                            <br>
                            <br>

                             <h2>Personal
                    <small>Add Personal</small>
                </h2>
                            <div class="row"></div>

                            <br>

                            <div class="panel panel-default">

  <div class="panel-body">

  <div id="education_fields">

        </div>
       <div class="col-sm-3 nopadding">
  <div class="form-group">
    <input type="text" class="form-control" id="Point" name="Point[]" value="" placeholder="Point">
  </div>
</div>
<div class="col-sm-3 nopadding">
  <div class="form-group">
    <input type="text" class="form-control" id="Work Unit" name="Work Unit[]" value="" placeholder="Work Unit">
  </div>
</div>
<div class="col-sm-3 nopadding">
  <div class="form-group">
    <input type="text" class="form-control" id="Method" name="Method[]" value="" placeholder="Method">
  </div>
</div>
<div class="col-sm-3 nopadding">
  <div class="form-group">
    <input type="text" class="form-control" id="Flow Rate" name="Flow Rate[]" value="" placeholder="Flow Rate">
  </div>
</div>
<div class="col-sm-3 nopadding">
  <div class="form-group">
    <input type="text" class="form-control" id="Media" name="Media[]" value="" placeholder="Media">
  </div>
</div>
<div class="col-sm-3 nopadding">
  <div class="form-group">
    <input type="text" class="form-control" id="Technique" name="Technique[]" value="" placeholder="Technique">
  </div>
</div>
<div class="col-sm-3 nopadding">
  <div class="form-group">
    <input type="text" class="form-control" id="Parameter" name="Parameter[]" value="" placeholder="Parameter">
  </div>
</div>

<div class="col-sm-3 nopadding">
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-btn">
        <button class="btn btn-success" type="button"  onclick="education_fields();"> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> </button>
      </div>
    </div>
  </div>
</div>
<div class="clear"></div>

  </div>
  <div class="panel-footer"><small>Press <span class="glyphicon glyphicon-plus gs"></span> to add another form field :)</small>, <small>Press <span class="glyphicon glyphicon-minus gs"></span> to remove form field :)</small></div>
  </div>
                            <form id="demo-form212" data-parsley-validate class="form-horizontal form-label-left" method="post">{% csrf_token %}
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-9 col-xs-6 col-md-offset-3">
                                        {% load bootstrap %}

                                        {{ form|bootstrap_horizontal:'col-lg-2' }}

                                    </div>
                                </div>

                                <div class="row">

                                    <!-- /page content -->

                                </div>
                                <div class="form-group">
                                    <div class="col-md-3 col-sm-3 col-xs-3 col-md-offset-4">
                                        <button type="button" class="btn btn-primary">Cancel</button>
                                        <button class="btn btn-primary" type="reset">Reset</button>
                                        <button type="submit" class="btn btn-success">Submit</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>


            {% endblock %}

