{% for area_mel in area_mel %}

<tr>
    <td>{{ area_mel.point }}</td>
    <td>{{ area_mel.work_unit }}</td>
    <td>{{ area_mel.method }}</td>
    <td>{{ area_mel.flow_rate }}</td>
    <td>{{ area_mel.media }}</td>
    <td>{{ area_mel.technique }}</td>
    <td>
        <button type="button"
                class="btn btn-warning btn-sm js-update-book"
                data-url="{% url 'book_update' area_mel.id %}">
            <span class="glyphicon glyphicon-pencil"></span>
        </button>
        <button type="button"
                class="btn btn-danger btn-sm js-delete-book"
                data-url="{% url 'book_delete' area_mel.id %}">
            <span class="glyphicon glyphicon-trash"></span>
        </button>

    </td>
    <td >
         <button  type="button" class="btn btn-primary js-create-parameter" data-url="{% url 'parameter_create' %}">
            <span class="glyphicon glyphicon-plus"></span>

        </button>
{% for area_mel_parameter in area_mel_parameter %}
         <br/> {{ area_mel_parameter.parameter_value }}
        <button type="button"
                class="btn btn-warning btn-sm js-update-book"
                data-url="{% url 'parameter_update' area_mel.id %}">
            <span class="glyphicon glyphicon-pencil"></span>
        </button>
        <button type="button"
                class="btn btn-danger btn-sm js-delete-book"
                data-url="{% url 'parameter_delete' area_mel.id %}">
            <span class="glyphicon glyphicon-trash"></span>
        </button>

{% endfor %}
    </td>

</tr>
{% empty %}
<tr>
    <td colspan="8" class="text-center bg-warning">No MEL</td>
</tr>
{% endfor %}
