{% extends 'baseform.html' %}

{% load static %}

{% block javascript %}
<script src="{% static 'books/js/books.js' %}"></script>
<script src="{% static 'books/js/parameter.js' %}"></script>
{% endblock %}

{% block content %}


    <div class="col-md-12 col-sm-12 col-xs-12">

            </div>
            <div class="x_content" align="center">
                <div class="col-md-24 col-xs-24  widget_tally_box">
                    <div class="x_panel fixed_height_90">
                        <div class="x_content">

                            <div class="flex">
                                <ul class="list-inline widget_profile_box">
                                    <li>
                                        <a>
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <img src="" alt="..." class="img-circle profile_img">
                                    </li>
                                    <li>
                                        <a>
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <h3 class="name">Company Name</h3>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Smart Wizard -->

            <div id="wizard" class="form_wizard wizard_horizontal">
                <ul class="wizard_steps">
                    <li>
                        <a href="#step-1">
                            <span class="step_no">1</span>
                            <span class="step_descr">
                                              Step 1<br/>
                                              <small>Preparing Worksheet</small>
                                          </span>
                        </a>
                    </li>
                    <li>
                        <a href="#step-2">
                            <span class="step_no">2</span>
                            <span class="step_descr">
                                              Step 2<br/>
                                              <small>Preparing Chain Of Custody (COC)</small>
                                          </span>
                        </a>
                    </li>
                    <li>
                        <a href="#step-3">
                            <span class="step_no">3</span>
                            <span class="step_descr">
                                              Step 3<br/>
                                              <small>Report Preparation</small>
                                          </span>
                        </a>
                    </li>
                    <li>
                        <a href="#step-4">
                            <span class="step_no">4</span>
                            <span class="step_descr">
                                              Step 4<br/>
                                              <small>Laboratory Results</small>
                                          </span>
                        </a>
                    </li>
                </ul>
                 {% include 'books/includes/partial_stage1.html' %}
                 {% include 'books/includes/partial_stage2.html' %}
                 {% include 'books/includes/partial_stage3.html' %}
                 {% include 'books/includes/partial_stage4.html' %}



            </div>
            <!-- End SmartWizard Content -->


            <div class="modal fade" id="modal-book">
                <div class="modal-dialog">
                    <div class="modal-content">

                    </div>
                </div>
            </div>

 <div class="modal fade" id="modal-parameter">
                <div class="modal-dialog">
                    <div class="modal-content">

                    </div>
                </div>
            </div>
            {% endblock %}